

<div class="container">
    <h3>Tests</h3>
    <a href="{{ site.baseurl }}/hello">hello</a>
    <a href="{{ site.baseurl }}/bounce">bounce</a>
    <a href="{{ site.baseurl }}/grid">grid</a>
    <a href="{{ site.baseurl }}/bounce_with_class">bounce_with_class</a>
    <a href="{{ site.baseurl }}/cat">cat</a>
</div>

<br/>

<div class="container">
    <h3>Summer 2021 student projects</h3>
    <a href="{{ site.baseurl }}/summer2021/cow_game">cow_game</a>
    <a href="{{ site.baseurl }}/summer2021/Cross_the_Road">Cross_the_Road</a>
</div>


