
<div class="container">
    <a href="{{ site.baseurl }}/">home</a>
    <a href="{{ site.baseurl }}/readme">about</a>
    <a href="https://github.com/dkessner/processing-p5-convert" target="_blank">project</a>
</div>

<br/>

<div class="container">
    (tests)
    <a href="{{ site.baseurl }}/hello">hello</a>
    <a href="{{ site.baseurl }}/bounce">bounce</a>
    <a href="{{ site.baseurl }}/grid">grid</a>
    <a href="{{ site.baseurl }}/bounce_with_class">bounce_with_class</a>
    <a href="{{ site.baseurl }}/cat">cat</a>
    <a href="{{ site.baseurl }}/hello_font">hello_font</a>
    <a href="{{ site.baseurl }}/hello_sound">hello_sound</a>
    <a href="{{ site.baseurl }}/explode">explode</a>
</div>

<br/>

<div class="container">
    (student projects)
    <a href="{{ site.baseurl }}/summer2021/cow_game">cow_game</a>
    <a href="{{ site.baseurl }}/summer2021/Cross_the_Road">cross_the_road</a>
    <a href="{{ site.baseurl }}/summer2021/Dinosaur_Game">dinosaur_game</a>
    <a href="{{ site.baseurl }}/summer2021/greenhouse_game">greenhouse_game</a>
</div>


